* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Montserrat";
  }
  section {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg,#E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: scroll;
    position: relative;
    animation: change 10s ease-in-out infinite;
  }
  .title{
    position: absolute;
    top: 40px;
    font-size: 60px;
  }

  .container {
    position: absolute;
    align-content: center;
    top: 120px;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000048;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
  }
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    color: rgb(27, 166, 247);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease background-color;
  }
  button[type="submit"]:hover {
    background-color: rgb(214, 226, 236);
  }

  .wrapper .button{
    position: absolute;
    top: 800px;
    left: calc(50% - 250px);
    height: 60px;
    width: 60px;
    padding: 7px;
    margin: 0 5px;
    overflow: hidden;
    background:  white;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #00000048;
    transition: all 0.3s ease-out;
  }

  .wrapper .button span{
    position: absolute;
    line-height: 50px;
    font-size: 20px;
    font-weight: 500;
    
    margin-left: 10px;
  }

  .wrapper .button:hover{
    width: 210px;
  }

  .wrapper .tooltip{
    position: absolute;
    top: 850px;
    left: 840px;
    background: rgb(190, 190, 190);
    opacity: 0;
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 7px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.25);
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
  }

  .wrapper:hover .tooltip{
    top: 880px;
    opacity: 1;
    pointer-events: auto;
  }

  .wrapper .tooltip::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: rgb(190, 190, 190);
    top: -7px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }

  .wrapper .button .icon
  {
    display: inline-block;
    height: 46px;
    width: 46px;

    border-radius: 45px;
    box-sizing: border-box;
    line-height: 60px;

  }

  #status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
  }
  #status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
  }
  #status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
  }
  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }

  @keyframes change{
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  